@charset "UTF-8";

.chating {
	margin-left:300px;
	width: 500px;
	height: 450px;
	overflow: auto;
	background-color: white;
}
#chating::-webkit-scrollbar {
    display: none;
}
.maincontainer{
	width: 1000px;
	height: 1000px;
	overflow: auto;
	margin-left: 1000px;
}
#yourName{
	margin-left: 330px;
	margin-top: 20px;
}

.container{
	width: 500px;
	margin: 0 auto;
	padding: 25px
}
.container h1{
	text-align: left;
	padding: 5px 5px 5px 15px;
	color: #4154f1;
	border-left: 3px solid #4154f1;
	margin-bottom: 20px;
	margin-left: 30px;
}

.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 4px 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  background-color: yellow;
  text-align: right;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.time{
	color:#ccd7f0;
	font-size: small;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: #5686f5;
  background-attachment: fixed;
  position: relative;
}
	
input{
	
	width: 330px;
	height: 25px;
}
#yourMsg{
	margin-left: 330px;
	margin-top: 20px;
	display: none;
}
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}





