<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.smhrd.mapper.ApprovalMapper">

	<select id="getList" resultType="kr.smhrd.entity.Approval">
		select * from APPROVAL
	</select>

	<select id="read" resultType="kr.smhrd.entity.AllApproval" parameterType="int">
		select DISTINCT a.*, b.apv_auth_id, b.apv_auth_name, b.apv_time, b.apv_num, c.member_name,
		d1.depart_name as depart_name1, d2.depart_name as depart_name2, d3.depart_name as depart_name3, d4.depart_name as depart_name4
		from APPROVAL a, APPROVAL_AUTH b, member c, department d1, department d2, department d3, department d4
		where a.appro_id = 1 and a.appro_id = b.appro_id 
		and c.member_id = (select h.member_id from member h, approval j, approval_auth k where j.appro_id = 1 and j.appro_id = k.appro_id and j.appro_mem1 = h.member_name)
		and d1.depart_code = (select depart_code from member where MEMBER_NAME = (select j.appro_mem1 from approval j, approval_auth k where j.appro_id = 1 and j.appro_id = k.appro_id))
		and d2.depart_code = (select depart_code from member where MEMBER_NAME = (select j.appro_mem2 from approval j, approval_auth k where j.appro_id = 1 and j.appro_id = k.appro_id))
		and d3.depart_code = (select depart_code from member where MEMBER_NAME = (select j.appro_mem3 from approval j, approval_auth k where j.appro_id = 1 and j.appro_id = k.appro_id))
		and d4.depart_code = (select d.depart_code from approval a, approval_auth b, member c, department d where a.appro_id = b.appro_id  
		and b.member_id = c.member_id and c.depart_code = d.depart_code and a.appro_id = 1)
	</select>

</mapper>
