<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

 <mapper namespace="kr.smhrd.mapper.CalendarMapper">

	<select id="getList" resultType="kr.smhrd.entity.Calendar">
		select c.*, c.member_id from Calendar c, member m where c.member_id = m.member_id and m.member_id=#{member_id}
	</select>
	
	
	 <update id="CalUP" parameterType="kr.smhrd.entity.Calendar">
		
		update Calendar set calendar_title = #{CALENDAR_TITLE}, calendar_content = #{CALENDAR_CONTENT}, calendar_color = #{CALENDAR_COLOR} where CALENDAR_ID = #{CALENDAR_ID}
	
	 </update> 
	
    <insert id="searchVO" parameterType="kr.smhrd.entity.Calendar" >
		 insert into CALENDAR (CALENDAR_ID,MEMBER_id,CALENDAR_TITLE,CALENDAR_COLOR,CALENDAR_CONTENT,CALENDAR_CATE_SELF,CALENDAR_INDATE,CALENDAR_START,CALENDAR_END) values(CAL_SEQ.nextval,#{MEMBER_ID},#{CALENDAR_TITLE},#{CALENDAR_COLOR},#{CALENDAR_CONTENT},'중요',sysdate,to_date(#{CALENDAR_START},'YY/MM/DD'),to_date(#{CALENDAR_END},'YY/MM/DD'))
	</insert>
	
	<delete id="CalDE" parameterType="kr.smhrd.entity.Calendar">
		delete from CALENDAR where CALENDAR_ID= #{CALENDAR_ID}
	</delete>
	
	<select id="selectCalCount" parameterType="int" resultType="int">
      select count(*) from calendar where MEMBER_id = #{MEMBER_id} and sysdate between to_date(CALENDAR_START, 'YYYY-MM-DD HH24:MI:SS') and to_date(CALENDAR_END, 'YYYY-MM-DD HH24:MI:SS')
   </select>

	
</mapper> 








