<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.smhrd.mapper.MemberMapper">

	<update id="upd" parameterType="Member">
		update Member set 
		MEMBER_NAME=#{MEMBER_NAME},
		DEPART_CODE=#{DEPART_CODE},
		RANK_CODE=#{RANK_CODE},
		MEMBER_ADDRESS=#{MEMBER_ADDRESS},
		MEMBER_PHONE=#{MEMBER_PHONE} 
		where MEMBER_id=#{MEMBER_id}
	</update>
	
	<update id="pupd" parameterType="Member">
		update Member set
		MEMBER_PW=#{MEMBER_PW}
		where MEMBER_id=#{MEMBER_id}
	</update>
	
	<select id="profile" parameterType="int" resultType="kr.smhrd.entity.Member">
		select * from member where member_id = #{member_id}
	</select>
	
</mapper>



